<hr>

<div class="footer">
  <div class="width-wrapper">

    <div class="footer-top">

      <div class="footer-box mailing-list-box">
        <h2>Mailinglist</h2>
        <form class="mailing-list" action="http://sitechop.us12.list-manage.com/subscribe/post?u=f4a996f4fe29ebe8cb8c9dc24&amp;id=68f48d3755" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
          <fieldset>
            <input class="email" type="email" placeholder="Email Address" name="EMAIL">
            <button type="submit">
              {% include arrow.html %}
            </button>
          </fieldset>
          <p class="response"></p>
        </form>
      </div>

      <div class="footer-box">
        <h2>Navigate</h2>
        <ul>
          <li><a href="{{ site.baseurl }}">Home</a></li>
          {% for page in site.pages %}
            {% if page.title %}
              <li>
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Feed</a></li>
        </ul>
      </div>

      <div class="footer-box">
        <h2>Social</h2>
        <ul class="footer-social">
          <li><a class="github-icon" href="https://github.com/sitechop">GitHub</a></li>
          <li><a class="twitter-icon" href="https://twitter.com/sitechop">Twitter</a></li>
          <li><a class="codepen-icon" href="http://codepen.io/sitechop/">Codepen</a></li>

        </ul>
      </div>

    </div>

    <div class="footer-bottom">
      <p class="copy">&copy; Sitechop 2014-2016</p>
    </div>
  </div>
</div>
