<meta property="og:title" content="Sitechop">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:image" content="http://sitechop.com/images/share.jpg?v2">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Sitechop">