<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ page.date }}" />

{% if page.updated %}
  <meta property="article:modified_time" content="{{ page.updated }}" />
  <meta property="og:updated_time" content="{{ page.updated }}" />
{% endif %}

<meta property="og:url" content="{{ page.url | prepend: site.baseurl }}">
<meta property="og:image" content="{{ page.image }}">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="2400">
<meta property="og:image:height" content="800">

<meta property="og:description" content="{{ page.excerpt }}">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Sitechop" />
