.footer {
  background: #fff;
  box-shadow: 0px 14px 124px 0px rgba(0,0,0,0);
  border-top: 1px solid #eee;
  .width-wrapper {
    @extend %logo-icon;
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: bottom 25px right 20px;
  }
}

.footer-top {
  padding-top: 60px;
}

.footer-box {
  h2 {
    color: #333;
    font-size: 1.125em;
    font-weight: 500;
    margin-bottom: 0.75em;
  }
  li {
    list-style: none;
  }
  li + li {
    margin-top: 5px;
  }
  p {
    color: #5e5e5e;
  }
  a {
    color: #5e5e5e;

    &:hover {
      color: $blue;
    }
  }
}

.footer-social {
  a {
    padding-left: 25px;
    background-repeat: no-repeat;
  }
  .twitter-icon {
    @extend %twitter-icon;
    background-size: 17px;
    background-position: left top 2px;
  }
  .github-icon {
    @extend %github-icon;
    background-size: 17px;
    background-position: left top;
  }
  .codepen-icon {
    @extend %codepen-icon;
    background-size: 17px;
    background-position: left top;
  }
}

.mailing-list-box {
  max-width: 300px;
}

.footer-box + .footer-box {
  margin-top: 25px;
}

.footer-bottom {
  border-top: 1px solid #eee;
  color: #5e5e5e;
  font-size: 15px;
  padding: 30px 0;
  margin-top: 40px;
}


@media (min-width: 38em){
  .footer-box {
    display: inline-block;
    vertical-align: top;
  }


  .footer-box + .footer-box {
    margin-top: 0;
    margin-left: 60px;
  }
}