* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Gotham SSm A", "Gotham SSm B", helvetica, arial, sans-serif;
  font-weight: 400;
  line-height: 1.65;
  background: #f6f6f6;
  color: $text;
  overflow-x: hidden;
}

h2, h3, h4, h5, h6 {
  color: $headingtext;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

hr {
  display: none;
}

fieldset {
  border: none;
}

.main {
  background: #f6f6f6;
  position: relative;
  z-index: 2;
}

.width-wrapper {
  margin: 0 auto;
  max-width: 80em;
  padding: 0 1.25em;
  @extend %clear;
}

%hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

%clear {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}