.header {
  background: white;
  @extend %clear;
  padding: 1.25em 0;
}

h1 {
  float: left;
  font-size: 1.65em;
  line-height: 1;
  a {
    color: $headingtext;
    position: relative;
    padding-left: 40px;
    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      @extend %logo-icon;
      width: 30px;
      height: 30px;
    }
  }
}

.navigation {
  float: right;
  li {
    display: inline;
  }
  li + li {
    margin-left: 40px;
  }
  a {
    font-size: 0.9em;
    color: $text;
    &:hover {
      color: $headingtext;
    }
  }
}

@media (min-width: 38em){
  .header {
    padding: 1.5em 0;
  }
}