<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include home-hero.html %}
    <div class="main post-index">
      
      <div class="width-wrapper index-wrapper">
        {{ content }}
      </div>
      
      {% if paginator.previous_page or paginator.next_page %}
        <div class="width-wrapper pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
          {% endif %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% include footer.html %}
    {% include footer-scripts.html %}
  </body>
</html>