<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include post-head.html %}
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    {% include footer-scripts.html %}
    
    <!-- Disqus -->
    <script>var disqus_config = function () {this.page.url = 'https://sitechop.com{{ page.url }}';};(function() {var d = document, s = d.createElement('script');s.src = '//sitechop.disqus.com/embed.js';s.setAttribute('data-timestamp', +new Date());(d.head || d.body).appendChild(s);})();</script>
  </body>
</html>
