---
layout: post-single
---

<div class="hero post" style="background-image: url('{{ page.image }}');">
</div>

<div class="main post-show" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="width-wrapper">
    
    <div class="post-column">
      <div class="post-header">
        <h2 itemprop="name headline">{{ page.title }}</h2>
        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      </div>

      <div class="post-body" itemprop="articleBody">
        {{ content }}
      </div>

      <div class="comments" id="disqus_thread"></div>

      <noscript>
        <p>Please enable JavaScript to view the comments.</p>
      </noscript>


    </div>

    <div class="side-column">
      <div class="sidebox">
        
        <form class="mailing-list" action="http://sitechop.us12.list-manage.com/subscribe/post?u=f4a996f4fe29ebe8cb8c9dc24&amp;id=68f48d3755" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
          <h3>Join our mailing list</h3>
          <p>Get new tutorials and updates delivered right to your inbox.</p>
          <fieldset>
            <input type="email" placeholder="Email Address" name="EMAIL">
            <button type="submit">{% include arrow.html %}</button>
          </fieldset>
          <p class="response"></p>
        </form>

      </div>
    </div>

  </div>
</div>